.post img {
	max-width: 100%;
	height: auto;
}

.post .author {
	font-size: .8em;
	font-weight: 300;
	color: #4d4d4d;
}

.post .date {
	font-size: .8em;
	font-weight: 300;
	color: #4d4d4d;
	float: right;
}

.post {
	margin-bottom: 4em;
}

.post pre {
	font-size: .6em;
}

.post .post_image {
	text-align: center;
	display: block;
}

.post .post_image img {
	max-height: 300px;
}