.article img {
	max-width: 100%;
	height: auto;
}

.article .author {
	font-size: .8em;
	font-weight: 300;
	color: #4d4d4d;
}

.article .date {
	font-size: .8em;
	font-weight: 300;
	color: #4d4d4d;
	float: right;
}

.article {
	margin-bottom: 4em;
}

.article pre {
	font-size: .6em;
}

.article .article_image {
	text-align: 'center';
	display: 'block';
}

.article .article_image img {
	max-height: 300px;
}