#sidebar {
	width: 300px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	z-index: 999;
	background: rgb(59, 59, 59);
	color: #fff;
	transition: all 0.3s;
}

#sidebar .sidebar-header {
	padding: 10px 5px;
	text-align: center;
	margin:0 auto;

}

#sidebar ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
}
#sidebar ul li a:hover {
	color: #000000;
	background: rgb(209, 209, 209);
	border-right: #ff6700a6 .3em solid;
	border-left: rgb(209, 209, 209) .3em solid;
}
#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
	text-align: center;
}
#sidebar a.active{
	background: #a7a7a7;
	color:#000000;
	font-weight: bold;
	border-right: #ff6700a6 .3em solid;
	border-left: #a7a7a7 .3em solid;
}

#sidebar div.social{
	text-align:center;
	padding:1em;
}

/*#sidebar div.sb-avatar{
	border:1px solid #e07d3a;
	height:102px !important;

	position: relative;
	box-shadow: 0px 0px 16px #868686;
	background: white;
}*/
/*#sidebar div.sb-avatar img{
	border:2px solid #ffffff;
}*/



/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
	display: inline-block;
}

/* flip the pane when hovered */
/* .flip-container:active .flipper, */
.flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 130px;
	height: 130px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}