body,html,{
	height: 100%;
}

.wrapper {
	display: flex;
	align-items: stretch;
	width: 100%;
	padding:0 !important;
	align-items: flex-start !important;
	/* padding-top:116px !important; */
	padding-left:300px !important;
	/* height: 100%; */
}
.content{
	margin-top:100px;
	font-size:1.2em;
	font-weight:400;
}
@media screen and (max-width: 767px) {
	.wrapper {
		padding-left:0 !important;
	}
	.content{
		margin-top:60px;
	}
}
#nprogress .bar {
	background: #ff6700a6 !important;
}
#nprogress .peg {
	box-shadow: 0 0 10px #ff6700a6, 0 0 5px #ff6700a6 !important;
}
#nprogress .spinner-icon {
	border-top-color: #ff6700a6 !important;
	border-left-color: #ff6700a6 !important;
}